<a href="https://colab.research.google.com/github/SurajGusain0007/Panda_Library/blob/main/Panda_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
dict1=pd.DataFrame({'Name':['Priyand','Anurag','Suraj','Neeraj','Vipin','Jenny','Haley'],
                    'Marks':[98,89,99,87,90,99,83],
                    'Gender':['Male','Male','Male','Male','Male','Female','Female']})
data=dict1
data

      Name  Marks  Gender
0  Priyand     98    Male
1   Anurag     89    Male
2    Suraj     99    Male
3   Neeraj     87    Male
4    Vipin     90    Male
5    Jenny     99  Female
6    Haley     83  Female

**Display Top 3 Rows of the dataset**

In [ ]:
data.head(3)

      Name  Marks Gender
0  Priyand     98   Male
1   Anurag     89   Male
2    Suraj     99   Male

**Check last 3 rows of the dataset**

In [ ]:
data.tail(3)

    Name  Marks  Gender
4  Vipin     90    Male
5  Jenny     99  Female
6  Haley     83  Female

**Find the shape of our dataset(Number of rows and columns**

In [ ]:
data.shape

(7, 3)

In [ ]:
print("No of rows",data.shape[0])
print("No of columns",data.shape[1])

No of rows 7
No of columns 3

**Get information about our dataset like total rows ,total no of columns data type of column and memory requirement**

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    7 non-null      object
 1   Marks   7 non-null      int64
 2   Gender  7 non-null      object
dtypes: int64(1), object(2)
memory usage: 296.0+ bytes

**Check Null values in dataset**

In [ ]:
data.isnull().sum(axis=0) #column wise

Name      0
Marks     0
Gender    0
dtype: int64

In [ ]:
data.isnull().sum(axis=1) #row wise

0    0
1    0
2    0
3    0
4    0
5    0
6    0
dtype: int64

**Get overall statistics about dataset**

In [ ]:
data.describe() #by default describe function gives numerical coulmn data

           Marks
count   7.000000
mean   92.142857
std     6.491753
min    83.000000
25%    88.000000
50%    90.000000
75%    98.500000
max    99.000000

In [ ]:
data.describe(include='object')

           Name Gender
count         7      7
unique        7      2
top     Priyand   Male
freq          1      5

**Find the unique values from Gender Column**

In [ ]:
data['Gender'].unique()

array(['Male', 'Female'], dtype=object)

**Find the number of unique values from Gender Column**

In [ ]:
data['Gender'].nunique()

2

**Display count of unique values from Gender Column**

In [ ]:
data['Gender'].value_counts()

Male      5
Female    2
Name: Gender, dtype: int64

**Find total no students having score Marks between 90 and 100 using between method**

In [ ]:
data['Marks']>=90

0     True
1    False
2     True
3    False
4     True
5     True
6    False
Name: Marks, dtype: bool

In [ ]:
data[(data['Marks']>=90)& (data['Marks']<=100)]

      Name  Marks  Gender
0  Priyand     98    Male
2    Suraj     99    Male
4    Vipin     90    Male
5    Jenny     99  Female

In [ ]:
len(data[(data['Marks']>=90)& (data['Marks']<=100)])

4

In [ ]:
sum(data['Marks'].between(90,100))

4

**Find Average Marks**

In [ ]:
data['Marks'].mean()

92.14285714285714

**Find MIN MARKS**

In [ ]:
data['Marks'].min()

83

**Find Max Marks**

In [ ]:
data['Marks'].max()

99

**Apply Method**

In [ ]:
def marks(x):
  return x//2

In [ ]:
data['Half marks']=data['Marks'].apply(marks)
data

      Name  Marks  Gender  Half marks
0  Priyand     98    Male          49
1   Anurag     89    Male          44
2    Suraj     99    Male          49
3   Neeraj     87    Male          43
4    Vipin     90    Male          45
5    Jenny     99  Female          49
6    Haley     83  Female          41

In [ ]:
data['Marks'].apply(lambda x:x//2)

0    49
1    44
2    49
3    43
4    45
5    49
6    41
Name: Marks, dtype: int64

In [ ]:
data['Name'].apply(len)

0    7
1    6
2    5
3    6
4    5
5    5
6    5
Name: Name, dtype: int64

**Map Functionmfor encoding purpose**

In [ ]:
data['Male_Female']=data['Gender'].map({'Male':1,'Female':0})
data

      Name  Marks  Gender  Half marks  Male_Female
0  Priyand     98    Male          49            1
1   Anurag     89    Male          44            1
2    Suraj     99    Male          49            1
3   Neeraj     87    Male          43            1
4    Vipin     90    Male          45            1
5    Jenny     99  Female          49            0
6    Haley     83  Female          41            0

**Drop the columns**

In [ ]:
data.drop('Male_Female',axis=1)

      Name  Marks  Gender  Half marks
0  Priyand     98    Male          49
1   Anurag     89    Male          44
2    Suraj     99    Male          49
3   Neeraj     87    Male          43
4    Vipin     90    Male          45
5    Jenny     99  Female          49
6    Haley     83  Female          41

In [ ]:
data.drop(['Male_Female','Half marks'],axis=1,inplace=True)
data

      Name  Marks  Gender
0  Priyand     98    Male
1   Anurag     89    Male
2    Suraj     99    Male
3   Neeraj     87    Male
4    Vipin     90    Male
5    Jenny     99  Female
6    Haley     83  Female

**Print name of the columns**

In [ ]:
data.columns

Index(['Name', 'Marks', 'Gender'], dtype='object')

In [ ]:
data.index

RangeIndex(start=0, stop=7, step=1)

**Sort the dataframe as per the columns**

In [ ]:
data.sort_values(by=['Marks','Gender'],ascending=False)

      Name  Marks  Gender
2    Suraj     99    Male
5    Jenny     99  Female
0  Priyand     98    Male
4    Vipin     90    Male
1   Anurag     89    Male
3   Neeraj     87    Male
6    Haley     83  Female

 **Display name and marks of the female students**

In [ ]:
data[data['Gender']=='Female'] ['Name']

5    Jenny
6    Haley
Name: Name, dtype: object

In [ ]:
data[data['Gender']=='Female'] [['Name','Marks']]

    Name  Marks
5  Jenny     99
6  Haley     83

In [ ]:
data[data['Gender'].isin(['Female'])] [['Name','Marks']]

    Name  Marks
5  Jenny     99
6  Haley     83